@font-face {
  font-family: GothamNarrowMedium;
  font-weight: 500;
  src: url("/fonts/GothamNarrow-Medium.otf") format("opentype");
}

@font-face {
  font-family: GothamNarrow;
  font-weight: 400;
  src: url("/fonts/GothamNarrow-Book.otf") format("opentype");
}

@font-face {
  font-family: GothamNarrowLight;
  font-weight: 300;
  src: url("/fonts/GothamNarrow-Light.otf") format("opentype");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, button, div, span, tspan, text, g {
  font-family: GothamNarrow;
}
